*,
*:before,
*:after {
  box-sizing: border-box;
  margin:0;
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
}
.header_background{
    position: absolute;
    z-index: -1;
    width: 100%;
}
header{
    color: white;
}
ul{
    list-style-type: none;
}
header ul{
    padding: 40px 0;
}
header ul li{
    display: inline;
}
.li_titulo{
    padding-left:100px;
    padding-right: 200px;
}
.li_contenido{
    padding:0 30px ;
}
.li_search{
    padding-left: 100px;
    padding-right: 20px;
}
.buscar{
    background-color:rgba(187, 187, 187, 0.6);
    width: 15%;
    padding:5px 30px;
    border-radius: 20px ;
    border:none;    
    color:white
}
::placeholder { 
    color: white;
    opacity: 1;
  }
.sign{
    color: white;
    border-radius: 20px;
    border-color: white;
    padding: 5px 30px ;
    background-color: transparent;
}
.img_header_right{
    width: 20%;
    position: absolute;
    top: 20%;
    right: -10%;
    z-index: -1;
}
.header_contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header_item{
    width: 50%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
}
.header_menu_boton{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.header_menu_boton button{
    color: white;
    padding: 5px 50px;
    border-radius: 20px;
    border: none;
    background-color: gray;
}
.header_item2{
    width: 20%;
    display: flex;
    flex-wrap: wrap;
}
.header_item2_contenido{
    align-self: center;
}
.main1{
    display: flex;
}
.main1_izq{
    width: 65%;
}
.main1_izq ul{
    padding-top: 40px;
}
.main1_izq li{
    display: inline;
}
.main1_izq .li_titulo{
    font-size: 40px;
    padding-right: 100px;
}
.main1_izq .li_contenido{
    font-size: 25px;
    color: grey;
}
.main1 table{
    margin-left: 10%;
    width: 90%;
    border-collapse: collapse;
    border-radius: 100px;
}
.main1 table th{
    color: rgb(196, 191, 191);
    height:  100px;
    border-bottom: 1px solid black;
} 
.main1 table td{
    text-align: center;
    border: 0;
}
.tr_transform:hover{
    background-color: white;
    transform: scale(1.02);
}
.main1_tabla_column1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.table_imgspace{
    padding: 10px;
}
.main1_der{
    margin-top: 15px;
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}
.main1_der div:nth-child(1){
    font-size: 40px;
    flex-basis: 100%;
    text-align: center;
}
.main1_der img{
    width: 80%;
}
.main1_der_divimg{
    text-align: center;
    width: 50%;
}
.main2_div1{
    width: 70%;
    background-color: rgb(233, 230, 230);
    margin: auto;
    display: flex;
    box-shadow: 0.1px 1px 5px rgb(145, 143, 143);
    border-radius: 5px;
    position: relative;
    z-index: -1;
}
.main2_img{
    width: 50%;
    border-color: gray;
}
.main2_img_rotate{
    width: 70px;
    padding: 0 30px;
    transform: rotate(90deg);
}
.main2_img_lastNext{
    height: 20px;
    transform: rotate(180dg);
}
.main2_div1_contenido{
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
 .main2_div2{
    background-color: white;
    margin-top: -150px;
    margin-left:32%;
    width: 50%;
    box-shadow: 0.1px 1px 5px rgb(145, 143, 143);
    border-radius: 20px;
    padding: 30px;
    position: relative;
    z-index: 1;
}
.main2_div2_table{
    margin: auto;
    width: 100%;
    border-collapse: collapse;
}
.td_left{
    text-align: end;
}
.td_borderBottom_gray td{
    border-bottom: 1px solid rgb(204, 204, 204);
}
.tr_center{
    text-align: center;
}
.main2_div2_number{
    font-size: 60px;
}
.main2_div2_table button{
    border-radius: 40px;
    padding: 5px 25px;
    border: 0;
    background-color: #2DE8B6;
    color:white;
}
